# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.venv
venv/
env/

# IDE
.vscode
.cursor
*.swp
*.swo

# Logs
logs/*.log

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore 
.tar