# Telegram Bot Token
BOT_TOKEN=your_telegram_bot_token_here

# OpenAI API Key
OPENAI_API_KEY=your_openai_api_key_here

# Assistant ID
ASSISTANT_ID=your_assistant_id_here

# Retail CRM API Key
RETAIL_CRM=your_retail_crm_api_key_here

# MoySkald Token
MOY_SKLAD=your_moysklad_token_here

# Retail CRM Bot Token
RETAIL_CRM_BOT_TOKEN=your_retail_crm_bot_token_here 